##Logistic Regression on insurance dataset

In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

######importing dataset

In [69]:
df = pd.read_csv("/content/sample_data/travel insurance.csv")
df.head()

,Agency,Agency Type,Distribution Channel,Product Name,Claim,Duration,Destination,Net Sales,Commision (in value),Gender,Age
0,CBH,Travel Agency,Offline,Comprehensive Plan,No,186,MALAYSIA,-29.0,9.57,F,81
1,CBH,Travel Agency,Offline,Comprehensive Plan,No,186,MALAYSIA,-29.0,9.57,F,71
2,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,65,AUSTRALIA,-49.5,29.70,NaN,32
3,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,60,AUSTRALIA,-39.6,23.76,NaN,32
4,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,79,ITALY,-19.8,11.88,NaN,41

#####Exploring Data

In [70]:
for i in df.columns:
  print(i)
  print(set(df[i]))

Agency
{'JWT', 'C2B', 'ART', 'CSR', 'CWT', 'CBH', 'CCR', 'RAB', 'KML', 'LWC', 'EPX', 'SSI', 'TST', 'JZI', 'ADM', 'TTW'}
Agency Type
{'Travel Agency', 'Airlines'}
Distribution Channel
{'Offline', 'Online'}
Product Name
{'Travel Cruise Protect Family', 'Spouse or Parents Comprehensive Plan', 'Individual Comprehensive Plan', 'Single Trip Travel Protect Gold', 'Annual Silver Plan', 'Annual Travel Protect Silver', 'Value Plan', '1 way Comprehensive Plan', 'Annual Gold Plan', 'Annual Travel Protect Gold', 'Basic Plan', 'Bronze Plan', 'Rental Vehicle Excess Insurance', 'Travel Cruise Protect', '2 way Comprehensive Plan', 'Annual Travel Protect Platinum', 'Ticket Protector', 'Child Comprehensive Plan', 'Premier Plan', 'Single Trip Travel Protect Platinum', 'Gold Plan', 'Silver Plan', 'Cancellation Plan', 'Single Trip Travel Protect Silver', '24 Protect', 'Comprehensive Plan'}
Claim
{'Yes', 'No'}
Duration
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 334, 342, 350, 351, 352, 361, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 430, 431, 432, 433, 434, 435, 436, 437, 440, 441, 444, 445, 448, 450, 456, 457, 459, 461, 463, 465, 466, 472, 474, 478, 4580, 487, 488, 490, 494, 497, 508, 512, 4609, 519, 529, 531, 545, 547, 4652, 4685, 4736, 4738, 4784, 4815, 4829, 4831, 740, 4844, 4847, 4857, 4881, -1, -2}
Destination
{'BAHRAIN', 'INDIA', 'CAMBODIA', 'LATVIA', 'MACAO', 'RWANDA', 'GEORGIA', 'REPUBLIC OF MONTENEGRO', 'BELGIUM', 'CHILE', 'MALTA', 'FRENCH POLYNESIA', 'JORDAN', 'POLAND', 'AUSTRALIA', 'NEPAL', 'SWEDEN', 'MOLDOVA, REPUBLIC OF', 'HUNGARY', 'OMAN', 'BULGARIA', 'UNITED KINGDOM', 'EGYPT', 'CHINA', 'GUINEA-BISSAU', 'QATAR', 'ISRAEL', 'TURKEY', 'UNITED STATES', 'SPAIN', 'CROATIA', 'NAMIBIA', 'SOUTH AFRICA', 'TRINIDAD AND TOBAGO', 'THAILAND', 'ARGENTINA', 'REUNION', 'SRI LANKA', 'BERMUDA', 'BANGLADESH', 'LUXEMBOURG', 'TUNISIA', 'CYPRUS', 'MEXICO', 'FIJI', 'LIBYAN ARAB JAMAHIRIYA', 'VANUATU', 'FINLAND', 'GUADELOUPE', 'IRELAND', 'MAURITIUS', 'PAKISTAN', 'KUWAIT', 'VIET NAM', 'RUSSIAN FEDERATION', 'TURKMENISTAN', 'SERBIA', 'ETHIOPIA', 'ALBANIA', 'NORWAY', 'GREECE', 'GUINEA', 'ICELAND', 'TURKS AND CAICOS ISLANDS', "LAO PEOPLE'S DEMOCRATIC REPUBLIC", 'BRUNEI DARUSSALAM', 'ZIMBABWE', 'SINGAPORE', 'CZECH REPUBLIC', 'VIRGIN ISLANDS, U.S.', 'MOROCCO', 'NEW ZEALAND', 'NETHERLANDS', 'ITALY', 'AZERBAIJAN', 'ANGOLA', 'CAMEROON', 'SENEGAL', 'JAMAICA', 'MONGOLIA', 'UZBEKISTAN', 'SOLOMON ISLANDS', 'PAPUA NEW GUINEA', 'PUERTO RICO', 'FRANCE', 'KAZAKHSTAN', 'FAROE ISLANDS', 'UGANDA', 'KYRGYZSTAN', 'BOSNIA AND HERZEGOVINA', 'NIGERIA', 'BRAZIL', 'TAIWAN, PROVINCE OF CHINA', 'LEBANON', 'PORTUGAL', 'NEW CALEDONIA', 'GHANA', 'ARMENIA', 'SIERRA LEONE', 'SEYCHELLES', 'GERMANY', 'COSTA RICA', "KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF", 'INDONESIA', 'ECUADOR', 'TAJIKISTAN', 'PERU', 'MYANMAR', 'SWITZERLAND', 'UKRAINE', 'TANZANIA, UNITED REPUBLIC OF', 'BOLIVIA', 'NORTHERN MARIANA ISLANDS', 'BELARUS', 'COLOMBIA', 'MALI', 'VENEZUELA', 'MALAYSIA', 'GUATEMALA', 'IRAN, ISLAMIC REPUBLIC OF', 'SAMOA', 'MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF', 'DENMARK', 'UNITED ARAB EMIRATES', 'KENYA', 'CAYMAN ISLANDS', 'ZAMBIA', 'BHUTAN', 'DOMINICAN REPUBLIC', 'JAPAN', 'PANAMA', 'GUYANA', 'ESTONIA', 'SLOVENIA', 'TIBET', 'ROMANIA', 'URUGUAY', 'MALDIVES', 'AUSTRIA', 'KOREA, REPUBLIC OF', 'BARBADOS', 'HONG KONG', 'PHILIPPINES', 'LITHUANIA', 'BOTSWANA', 'BENIN', 'SAUDI ARABIA', 'GUAM', 'CANADA'}
Net Sales
{0.0, 1.13, 2.76, 2.33, 4.99, 5.09, 6.5, 7.21, 7.44, 9.9, 10.0, 11.0, 12.5, 13.0, 14.0, 15.0, 16.0, 17.55, 18.0, 19.8, 20.0, 21.0, 22.0, 19.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.7, 29.0, 30.0, 30.55, 31.85, 32.0, 35.0, 36.0, 37.0, 33.0, 39.0, 39.6, 41.0, 42.0, 43.0, 44.0, 40.0, 46.15, 47.0, 46.0, 49.5, 50.0, 51.0, 44.85, 53.0, 52.0, 49.0, 56.0, 57.0, 58.0, 59.4, 59.0, 12.0, 62.0, 62.25, 64.0, 63.0, 60.0, 67.0, 68.0, 69.3, 69.55, 69.0, 71.0, 70.0, 74.0, 75.96, 73.67, 77.35, 78.0, 70.85, 80.0, 81.75, 76.0, 75.0, 83.0, 82.0, 17.0, 86.0, 87.0, 89.1, 90.0, 89.0, 92.0, 17.25, 94.0, 95.0, 19.5, 89.25, 98.0, 99.0, 96.0, 20.25, 101.0, 103.0, 100.0, 102.0, 106.0, 107.0, 108.9, 109.0, 108.0, 110.0, 112.0, 104.0, 114.75, 112.7, 23.0, 117.0, 118.8, 119.0, 120.0, 121.0, 118.0, 116.0, 23.47, 125.0, 25.5, 127.0, 128.7, 128.0, 130.0, 131.0, 123.0, 5.25, 130.65, 131.3, 27.75, 136.5, 138.6, 138.0, 139.0, 28.5, 135.2, 135.0, 144.0, 145.0, 146.25, 147.0, 148.5, 149.0, 150.0, 30.47, 146.0, 30.75, 154.0, 155.0, 31.0, 6.25, 158.4, 158.0, 156.0, 157.0, 32.25, 32.5, 164.0, 165.75, 161.0, 167.0, 168.3, 169.0, 170.0, 171.0, 34.0, 34.78, 34.5, 34.53, 176.25, 35.25, 178.2, 179.0, 180.0, 7.0, 36.75, 183.0, 175.0, 11.19, 182.0, 187.85, 37.5, 188.1, 188.0, 189.0, 38.0, 192.0, 187.0, 195.0, 193.7, 194.35, 198.0, 194.5, 200.0, 201.0, 202.0, 202.3, 40.44, 40.5, 206.0, 207.9, 208.0, 41.5, 207.0, 211.0, 42.75, 4.44, 213.95, 4.19, 216.75, 217.8, 5.44, 42.5, 218.0, 216.0, 44.25, 6.69, 6.94, 44.5, 225.0, 45.0, 7.19, 227.7, 45.5, 228.5, 232.0, 233.4, 46.16, 230.0, 236.0, 237.6, 47.5, 231.0, 240.0, 234.0, 48.0, 48.5, 242.0, 47.25, 239.5, 247.5, 241.5, 252.85, 50.25, 50.5, 253.5, 0.13, 51.75, 10.75, 0.84, 260.63, 257.4, 0.88, 256.0, 259.2, 265.0, 257.5, 53.25, 53.5, 267.3, 269.0, 2.66, 54.0, 272.3, 273.0, 54.75, 54.5, 55.0, 4.66, 278.85, 277.2, 2.25, 5.66, 279.0, 11.5, 55.5, 277.0, 285.0, 288.0, 289.0, 0.77, 291.75, 7.66, 293.0, 294.75, 1.77, 1.02, 59.94, 8.41, 59.25, 8.91, 301.0, 60.75, 300.0, 297.0, 297.05, 306.9, 61.0, 61.5, 308.5, 305.0, 311.35, 12.16, 12.66, 318.5, 63.5, 321.75, 317.0, 64.35, 10.22, 324.5, 323.0, 320.0, 65.0, 65.65, 329.45, 65.4, 13.5, 66.0, 66.75, 2.38, 2.88, 16.91, 16.19, 16.38, 340.5, 4.63, 17.16, 68.6, 4.88, 17.63, 4.38, 68.5, 69.5, 340.8, 19.88, 70.5, 7.13, 357.5, 71.4, 72.0, 72.15, 72.5, 72.75, 22.94, 73.0, 73.5, 72.9, 23.41, 74.25, 74.9, 74.4, 74.5, 75.75, 25.44, 76.5, 382.0, 386.0, 77.0, 389.0, 389.35, 388.8, 78.5, 79.0, 399.6, 29.19, 80.25, 80.6, 4.6, 404.0, 80.5, 81.0, 81.5, 5.35, 404.25, 3.5, 82.43, 412.0, 83.5, 83.4, 7.35, 7.6, 420.0, 84.0, 84.5, 8.63, 8.85, 84.75, 85.0, 9.13, 17.5, 432.0, 432.9, 86.4, 10.38, 86.5, 87.1, 11.88, 11.6, 442.0, 88.9, 88.0, 443.3, 12.35, 88.5, 89.65, 449.25, 451.8, 14.35, 18.5, 457.0, 91.0, 91.88, 92.25, 93.0, 93.6, 472.0, 94.5, 95.25, 482.0, 96.6, 97.0, 491.5, 100.1, 100.5, 20.5, 507.0, 511.0, 0.51, 0.76, 1.09, 1.8, 1.22, 1.93, 0.55, 1.34, 103.5, 1.55, 0.92, 515.0, 105.0, 105.6, 21.5, 4.5, 106.5, 538.0, 5.07, 539.0, 108.75, 109.85, 110.5, 22.5, 557.4, 111.0, 3.43, 10.04, 112.5, 11.29, 113.0, 11.07, 572.5, 12.54, 114.0, 12.29, 13.57, 115.0, 13.29, 23.5, 1.29, 1.54, 116.5, 14.07, 586.0, 117.75, 117.5, 3.79, 16.1, 3.54, 16.54, 17.82, 599.0, 18.07, 24.5, 19.07, 1.4, 122.0, 21.35, 21.07, 123.75, 2.9, 21.04, 22.1, 3.15, 3.65, 124.0, 125.5, 204.6, 24.79, 126.75, 126.0, 24.6, 25.07, 127.5, -0.07, 129.0, 2.51, 2.01, 3.76, 5.75, 26.5, 4.76, 132.5, 5.76, 5.51, 666.0, 32.04, 7.01, 33.79, 33.1, 8.26, 682.0, 27.5, 9.76, 35.1, 137.0, 137.5, 10.51, 138.5, 11.51, 11.01, 138.4, 37.6, 38.35, 140.0, 39.85, 39.76, 141.5, 40.29, 142.5, 15.26, 15.01, 142.0, 40.6, 143.0, 145.2, 29.5, 29.25, 148.0, 149.5, 150.45, 151.0, 50.1, 152.0, 0.64, 0.93, 153.0, 0.39, 52.35, 31.75, 1.25, 1.5, 54.6, 6.0, 31.5, 4.98, 5.23, 5.73, 57.85, 58.1, 160.5, 8.7, 810.0, 65.6, 9.48, 9.7, 162.0, 10.98, 10.7, 61.1, 163.0, 163.8, 11.45, 11.7, 11.95, 164.5, 12.23, 63.6, 165.0, 165.5, 33.5, 14.95, 2.45, 15.95, 168.0, 16.2, 4.95, 4.7, 18.76, 18.26, 6.2, 19.2, 6.95, 172.25, 19.48, 7.2, 20.45, 173.0, 173.25, 174.0, 22.2, 35.5, 24.26, 25.2, 25.7, 178.75, 178.0, 1.67, 27.95, 7.25, 28.2, 181.5, 181.0, 36.5, 182.4, 4.42, 4.17, 30.95, 5.92, 31.2, 184.42, 6.42, 184.8, 184.0, 185.0, 7.92, 3.03, 10.42, 2.36, 2.11, 12.67, 12.92, 191.5, 193.2, 3.61, 3.86, 4.89, 5.14, 39.75, 39.5, 6.89, 198.6, 17.53, 200.5, 203.0, -1.4, 0.81, 1.98, 1.48, 3.89, 2.47, 2.44, 2.81, 1.35, 3.1, 2.86, 3.68, 3.82, 3.47, 18.78, 206.25, 204.5, 209.3, 213.0, 10.89, 43.5, 13.36, 13.14, 14.39, 14.11, 219.6, 16.33, 16.92, 4.36, 17.11, 19.58, 7.86, 20.64, 224.0, 21.14, 21.92, 2.72, 22.61, 3.22, 3.97, 22.17, 0.19, 229.8, 9.0, 46.5, 28.14, 29.08, 30.39, 5.08, 31.67, 1.94, 2.19, 34.7, 34.3, 9.33, 9.83, 3.94, 34.67, 3.44, 34.8, 238.0, 36.83, 2.64, 25.03, 11.58, 37.8, 37.05, 37.2, 12.58, 38.33, 14.08, 40.2, 2.55, 2.05, 41.3, 4.8, 43.55, 5.8, 44.11, 7.8, 7.55, 46.8, 47.45, 48.3, 49.8, 49.39, 49.2, 0.9, 255.75, 255.0, 52.8, 256.2, 53.95, 4.52, 55.3, 4.27, 55.8, 5.52, 56.7, 5.27, 260.0, 6.77, 6.27, 52.5, 58.8, 58.2, 8.77, 8.3, 59.11, 9.77, 264.0, 10.55, 30.53, 62.3, 63.7, 13.8, 64.2, 64.95, 14.05, 65.8, 66.3, 270.5, 67.8, 271.0, 68.49, 18.24, 69.71, 69.05, 18.27, 19.55, 19.24, 20.8, 72.8, 22.77, 73.2, 22.49, 22.3, 23.8, 23.24, 24.05, 25.02, 76.3, 0.32, 76.2, 0.07, -25.07, 56.5, 280.8, 281.0, 56.25, 2.99, 79.2, 79.95, 3.99, 3.74, 29.02, 4.24, 57.5, 82.55, 31.8, 82.8, 83.3, 83.08, 7.99, 287.0, 287.25, 287.4, 287.1, 8.49, 1.1, 2.85, 85.71, 288.5, 8.74, 9.99, 3.6, 10.74, 58.5, 11.24, 11.74, 0.96, 0.71, 14.99, 2.21, 2.46, 2.96, 59.5, 6.71, 299.5, 7.71, 60.5, 97.8, 97.2, 2.57, 2.32, 2.82, 3.32, 302.4, 99.45, 100.8, 100.01, 0.78, 1.61, 102.05, 1.03, 1.99, 0.74, 1.16, 1.32, 1.82, 1.74, 4.43, 4.68, 106.2, 6.43, 6.68, 7.18, 111.21, 10.46, 11.46, 11.71, 11.93, 13.43, 115.7, 7.97, 319.0, 14.68, 14.71, 320.25, 16.65, 118.3, 16.4, 16.93, 322.0, 17.93, 323.4, 18.9, 22.4, 124.2, 124.21, 23.4, 24.9, -389.0, 25.9, 25.18, 0.45, 26.65, 333.0, 29.9, 29.4, 4.9, 4.4, 5.4, -357.5, 31.71, -71.0, 336.5, 32.9, 32.4, 7.15, -14.0, 7.65, 33.65, 8.4, 8.62, 34.4, 9.12, 35.4, 35.21, 11.15, -65.0, 37.02, 37.74, 12.87, 12.62, 13.12, 39.9, 14.4, -62.0, 40.46, 2.12, 3.62, 42.4, 4.12, 4.37, -297.0, 4.87, 5.37, 5.62, -291.75, 6.12, -289.0, 0.48, -57.0, -287.1, -287.4, 6.91, -281.0, 46.9, 46.49, 46.4, -277.2, -55.0, 47.43, 2.23, 3.98, 3.73, -53.0, 50.4, -259.2, 0.58, 0.83, -51.0, -252.85, 52.65, -247.5, 53.21, -48.5, 3.84, 3.09, 3.59, 3.34, 4.84, 5.59, 56.15, 11.94, 57.24, 6.09, 7.34, 7.84, 7.09, 7.59, -216.75, 59.15, 8.84, 8.09, -217.8, -216.0, -207.9, 62.43, 62.4, -198.0, 12.09, 63.12, -37.0, -178.2, 4.31, 17.87, 17.62, -168.3, 5.31, 18.34, 18.59, 6.56, -161.0, 6.31, -158.4, 20.59, -148.5, -147.0, 4.22, -29.5, 22.12, -28.5, -138.0, -138.6, -130.0, 25.59, -128.7, -128.0, -26.5, -125.0, 15.69, 5.72, 5.47, -121.0, -24.0, -24.5, -118.8, 27.87, 26.56, -23.0, -112.0, -109.0, -108.9, -107.0, -21.0, -102.0, -99.0, -98.0, -96.0, -95.0, -19.0, -93.0, -90.0, -89.1, 8.28, 8.81, -86.0, -84.0, -85.0, -80.0, -79.2, -78.0, 10.53, -76.0, -75.0, -74.9, -77.0, 11.06, -72.0, -70.0, -69.3, -69.0, -67.0, -66.0, -68.0, -70.85, -63.0, 13.28, -61.0, -60.0, -59.4, -58.0, 14.28, -56.0, -59.0, -54.5, -53.25, -52.0, -53.5, -50.0, -49.5, -48.0, -47.0, -47.5, -45.0, -44.0, -43.0, -42.0, -41.0, -40.0, -39.6, -38.0, -39.0, -36.0, -35.0, -34.0, -33.5, -32.0, -31.0, -30.0, -29.0, -29.7, -27.0, -26.0, -25.0, -25.2, -29.9, -22.0, -22.61, -20.0, -19.8, -18.0, -17.0, 3.39, 2.89, -14.39, -14.4, -12.0, -13.0, -10.0, -9.9, -11.0, -16.0, -15.0, -13.5, -11.93}
Commision (in value)
{0.0, 1.75, 0.79, 3.75, 4.39, 5.94, 6.3, 6.0, 5.98, 9.57, 9.1, 11.88, 11.54, 10.5, 7.7, 12.25, 15.4, 17.82, 11.75, 17.39, 20.0, 19.34, 20.44, 23.5, 23.76, 24.8, 26.59, 23.45, 27.25, 29.7, 30.45, 6.75, 32.2, 29.75, 28.8, 35.64, 28.5, 36.1, 31.75, 38.15, 33.6, 41.58, 42.35, 43.75, 41.42, 7.5, 46.96, 47.52, 40.0, 49.4, 50.5, 50.58, 52.15, 53.46, 51.45, 10.0, 48.0, 48.3, 50.25, 59.4, 60.04, 12.5, 55.86, 63.21, 11.5, 65.34, 65.16, 13.5, 68.08, 69.71, 62.65, 71.28, 14.0, 73.69, 72.94, 14.75, 15.75, 77.22, 78.0, 72.8, 75.25, 16.5, 78.28, 83.16, 16.75, 4.72, 17.5, 17.75, 17.25, 89.1, 81.2, 18.25, 4.47, 5.72, 18.0, 95.04, 6.47, 97.25, 97.34, 19.25, 7.47, 20.75, 100.98, 20.03, 20.25, 96.0, 106.92, 4.0, 4.5, 109.2, 21.0, 22.47, 112.86, 112.31, 110.83, 106.02, 23.97, 23.25, 118.8, 22.75, 22.25, 24.0, 24.5, 114.25, 124.74, 23.75, 25.5, 127.75, 25.25, 24.75, 130.68, 5.75, 5.25, 26.75, 134.5, 135.1, 27.0, 136.62, 27.75, 26.0, 5.0, 28.25, 142.56, 143.13, 28.0, 27.5, 146.5, 29.5, 148.5, 149.75, 149.5, 30.0, 30.25, 30.75, 154.44, 150.15, 1.25, 6.25, 0.5, 31.0, 160.38, 6.5, 32.66, 0.25, 32.0, 1.0, 166.32, 166.4, 168.0, 8.22, 170.5, 32.5, 34.25, 34.75, 9.19, 9.97, 172.26, 35.0, 178.2, 10.22, 10.69, 7.0, 36.56, 36.0, 184.14, 11.72, 7.25, 37.25, 186.55, 12.94, 186.71, 37.0, 38.5, 38.0, 13.69, 38.25, 39.0, 39.25, 14.44, 40.25, 40.75, 15.19, 15.44, 8.75, 8.5, 41.44, 41.25, 209.95, 208.0, 208.16, 4.94, 8.0, 42.0, 210.21, 43.06, 43.25, 43.47, 44.84, 6.94, 44.06, 44.69, 44.5, 45.5, 7.69, 9.25, 9.0, 46.25, 9.75, 48.59, 49.5, 0.38, 0.88, 10.25, 0.63, 0.59, 0.13, 51.75, 0.67, 262.6, 262.76, 2.16, 2.66, 2.91, 2.41, 53.25, 3.41, 54.19, 54.5, 54.0, 3.66, 4.91, 1.59, 55.25, 55.09, 2.25, 2.0, 283.5, 2.5, 2.75, 5.91, 6.66, 56.25, 11.25, 11.0, 57.75, 7.91, 7.16, 1.02, 59.0, 59.5, 60.0, 60.5, 3.77, 0.95, 12.75, 10.66, 10.16, 3.52, 1.7, 61.91, 62.0, 12.0, 30.16, 63.75, 0.09, 13.16, 64.38, 64.35, 1.88, 1.63, 14.16, 65.0, 1.13, 2.38, 2.13, 66.25, 2.88, 13.25, 3.38, 16.41, 16.16, 16.69, 67.25, 4.38, 4.88, 17.63, 4.13, 4.63, 5.63, 18.38, 69.16, 5.88, 5.13, 6.38, 19.13, 6.13, 19.63, 18.13, 14.25, 7.38, 20.88, 7.13, 71.25, 20.69, 21.13, 72.25, 14.5, 20.38, 20.13, 22.13, 73.85, 73.25, 22.91, 72.0, 23.63, 74.1, 74.88, 73.6, 24.38, 75.0, 75.6, 24.44, 15.0, 15.5, 25.13, 0.34, 76.25, 25.88, 26.63, 77.13, 77.84, 27.19, 28.69, 79.63, 28.13, 79.25, 79.75, 29.44, 80.44, 80.0, 4.6, 29.13, 29.38, 81.13, 16.0, 5.85, 5.6, 31.38, 82.6, 31.69, 6.85, 0.05, 31.88, 83.25, 7.35, 84.13, 8.13, 8.63, 8.88, 8.38, 85.13, 9.38, 9.13, 8.85, 8.1, 10.13, 10.85, 10.38, 10.63, 11.1, 11.13, 11.38, 11.63, 12.6, 12.13, 12.63, 12.38, 89.38, 13.13, 13.38, 13.63, 13.88, 89.25, 14.1, 14.88, 14.13, 14.38, 14.85, 15.6, 15.38, 15.88, 14.63, 93.6, 95.5, 19.5, 19.0, 99.9, 68.9, 20.5, 101.13, 0.47, 1.01, 1.51, 0.8, 1.8, 1.09, 1.84, 1.47, 1.97, 1.43, 1.34, 102.5, 103.0, 4.25, 21.75, 21.5, 107.25, 6.82, 108.0, 108.22, 6.32, 6.57, 8.57, 110.5, 22.0, 3.68, 10.32, 1.61, 35.59, 35.34, 1.86, 1.11, 12.54, 12.07, 0.22, 0.54, 13.57, 1.29, 14.79, 1.54, 15.57, 3.29, 16.6, 0.97, 3.04, 16.35, 4.04, 17.85, 1.72, 1.22, 4.54, 5.04, 5.79, 17.29, 18.04, 18.32, 18.85, 19.07, 19.6, 19.35, 18.6, 120.12, 20.82, 1.9, 1.65, 20.85, 122.88, 21.35, 2.9, 21.85, 21.6, 22.04, 3.9, 22.1, 23.29, 23.6, 24.85, 126.75, 0.43, 0.18, 26.6, 128.75, 2.51, 2.01, 2.76, 28.35, 28.6, 3.76, 3.01, 29.57, 5.5, 26.5, 28.85, 132.99, 5.26, 31.54, 31.85, 6.01, 6.51, 134.06, 134.75, 7.76, 33.13, 8.76, 34.13, 34.63, 9.26, 34.38, 35.63, 35.38, 36.73, 37.38, 37.13, 139.35, 38.35, 38.51, 40.6, 40.13, 41.13, 41.38, 45.38, 45.6, 47.88, 47.29, 149.37, 48.63, 30.5, 49.6, 49.73, 50.13, 0.68, 51.98, 0.14, 0.85, 0.93, 51.13, 52.85, 154.5, 31.25, 1.5, 0.75, 54.6, 55.48, 5.73, 5.48, 56.23, 57.6, 6.73, 57.13, 57.04, 58.35, 59.88, 8.7, 9.2, 9.45, 60.38, 11.2, 11.7, 12.95, 12.45, 63.35, 63.38, 13.95, 13.2, 166.24, 33.75, 166.53, 14.7, 166.5, 2.95, 2.2, 2.45, 3.45, 16.45, 3.95, 16.7, 16.95, 4.2, 17.23, 5.95, 18.73, 18.2, 5.2, 34.5, 6.2, 19.01, 0.81, 19.95, 171.6, 7.95, 20.98, 1.31, 1.06, 20.7, 20.48, 21.45, 2.56, 2.06, 2.81, 21.7, 22.23, 22.73, 0.99, 0.74, 23.73, 1.99, 1.74, 24.45, 25.2, 25.48, 0.31, 25.51, 26.98, 1.17, 1.42, 2.42, 2.17, 28.76, 2.92, 28.95, 3.92, 4.67, 4.42, 4.92, 118.0, 31.2, 6.67, 6.42, 6.17, 7.67, 7.17, 2.03, 3.28, 3.53, 2.36, 12.17, 71.85, 13.42, 13.92, 120.5, 3.61, 4.64, 0.02, 5.14, 6.39, 7.64, 7.89, 17.54, 0.56, 0.69, 2.22, 2.15, 3.15, 2.73, 0.77, 0.27, 1.27, 2.02, 2.52, 3.02, 3.1, 8.25, 0.84, 8.36, 10.89, 10.64, 11.86, 11.11, 20.28, 12.14, 12.39, 0.23, 13.86, 16.61, 19.14, 7.36, 20.64, 2.47, 2.72, 102.55, 32.16, 22.36, 24.17, 24.86, 25.08, 0.44, 1.33, 1.83, 1.08, 27.36, 2.83, 3.08, 3.33, 0.26, 0.51, 4.58, 1.26, 1.76, 0.94, 32.83, 32.3, 1.69, 33.95, 1.19, 33.8, 1.94, 2.19, 3.94, 10.33, 10.83, 36.86, 36.3, 11.83, 11.58, 37.2, 37.7, 37.8, 0.15, 38.92, 39.33, 40.95, 2.8, 3.8, 3.55, 3.05, 4.55, 4.05, 4.8, 4.3, 43.55, 5.55, 7.05, 7.8, 46.8, 48.42, 50.7, 0.36, 0.65, 0.9, 0.86, 0.61, 28.28, 52.33, 51.2, 4.02, 0.11, 58.45, 7.02, 8.05, 8.77, 9.3, 10.05, 11.55, 11.02, 12.3, 63.7, 13.02, 64.05, 64.55, 64.98, 64.8, 14.55, 65.33, 102.4, 31.53, 16.8, 16.05, 16.27, 17.55, 18.24, 69.3, 18.8, 19.99, 19.05, 70.2, 20.3, 20.8, 71.83, 21.77, 22.05, 73.45, 74.26, 24.3, 25.02, 25.55, 0.32, 25.52, 26.55, 56.0, 27.3, 2.74, 2.24, 3.74, 29.05, 4.74, 4.99, 30.55, 67.63, 31.05, 82.36, 6.24, 6.99, 1.6, 1.1, 8.99, 8.49, 2.6, 2.35, 85.2, 3.6, 0.28, 3.35, 0.78, 3.85, 1.53, 17.38, 17.13, 89.96, 0.71, 13.49, 0.96, 1.21, 1.96, 1.71, 2.46, 2.96, 5.38, 2.21, 3.21, 3.46, 18.63, 4.21, 1.39, 1.64, 6.96, 1.68, 1.18, 7.96, 7.21, 6.63, 6.88, 97.2, 2.57, 3.32, 0.49, 1.82, 1.16, 1.66, 0.24, 1.24, 1.03, 1.07, 0.7, 1.95, 1.2, 0.42, 4.93, 4.43, 4.18, 72.13, 5.93, 21.63, 16.57, 8.71, 8.21, 8.68, 8.96, 10.18, 112.95, 112.61, 11.21, 12.96, 13.21, 115.2, 14.46, 14.18, 15.96, 15.93, 16.9, 17.71, 17.15, 18.9, 19.65, 20.65, 20.15, 20.96, 22.4, 22.96, 23.4, 23.18, 13.0, 24.15, 24.4, 13.75, 25.68, 0.41, 0.45, 0.2, 26.4, 27.46, 28.18, 28.93, 29.4, 4.65, 4.4, 30.71, 67.75, 6.65, 6.9, 32.68, 32.18, 8.9, 8.4, 9.87, 10.15, 36.4, 11.9, 12.4, 0.16, 38.02, 13.65, 1.37, 1.12, 2.62, 2.87, 69.25, 15.9, 41.27, 3.87, 3.62, 42.18, 42.9, 1.3, 1.55, 1.05, 43.4, 5.12, 0.98, 7.87, 1.73, 70.25, 46.4, 1.23, 1.48, 2.23, 3.73, 3.23, 49.24, 49.65, 50.49, 0.66, 0.87, 0.83, 0.21, 0.37, 0.58, 52.65, 53.49, 2.34, 3.09, 54.9, 4.59, 5.34, 57.4, 6.84, 59.15, 9.59, 11.34, 62.4, 12.09, 16.09, 4.31, 4.06, 5.06, 18.56, 18.62, 6.56, 20.06, 22.31, 22.09, 23.81, 23.06, 24.09, 25.62, 25.84, 0.29, 27.56, 90.09, 8.81, 8.56, 8.06, 8.78, 8.03, 0.04, 11.06, 11.78, 12.56, 13.31, 15.16, 14.53, 15.56, 15.28, 4.03, 4.28, 5.53, 6.28, 80.5, 2.89, 2.64, 16.25, 3.39, 3.14, 3.25, 1.57, 1.32}
Gender
{nan, 'F', 'M'}
Age
{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 118}

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63326 entries, 0 to 63325
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Agency                63326 non-null  object
 1   Agency Type           63326 non-null  object
 2   Distribution Channel  63326 non-null  object
 3   Product Name          63326 non-null  object
 4   Claim                 63326 non-null  object
 5   Duration              63326 non-null  int64
 6   Destination           63326 non-null  object
 7   Net Sales             63326 non-null  float64
 8   Commision (in value)  63326 non-null  float64
 9   Gender                18219 non-null  object
 10  Age                   63326 non-null  int64
dtypes: float64(2), int64(2), object(7)
memory usage: 5.3+ MB

In [72]:
df.isnull().sum()

Agency                      0
Agency Type                 0
Distribution Channel        0
Product Name                0
Claim                       0
Duration                    0
Destination                 0
Net Sales                   0
Commision (in value)        0
Gender                  45107
Age                         0
dtype: int64

#####Data handling

In [73]:
df['Claim']=df['Claim'].replace({'Yes':1,'No':0})
df['Distribution Channel']=df['Distribution Channel'].replace({'Online':1,'Offline':0})
df['Agency Type']=df['Agency Type'].replace({'Travel Agency':1, 'Airlines':0})
df.drop(["Gender"],axis=1,inplace=True)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["Agency_code"]=le.fit_transform(df["Agency"])
df["Product_number"]=le.fit_transform(df["Product Name"])
df["Dest_code"]=le.fit_transform(df["Destination"])
df.drop(["Agency","Product Name","Destination"],axis=1,inplace=True)

In [74]:
df.head()

,Agency Type,Distribution Channel,Claim,Duration,Net Sales,Commision (in value),Age,Agency_code,Product_number,Dest_code
0,1,0,0,186,-29.0,9.57,81,3,12,79
1,1,0,0,186,-29.0,9.57,71,3,12,79
2,1,1,0,65,-49.5,29.70,32,6,16,4
3,1,1,0,60,-39.6,23.76,32,6,16,4
4,1,1,0,79,-19.8,11.88,41,6,16,61

In [75]:
df.fillna(0)

,Agency Type,Distribution Channel,Claim,Duration,Net Sales,Commision (in value),Age,Agency_code,Product_number,Dest_code
0,1,0,0,186,-29.0,9.57,81,3,12,79
1,1,0,0,186,-29.0,9.57,71,3,12,79
2,1,1,0,65,-49.5,29.70,32,6,16,4
3,1,1,0,60,-39.6,23.76,32,6,16,4
4,1,1,0,79,-19.8,11.88,41,6,16,61
...,...,...,...,...,...,...,...,...,...,...
63321,0,1,0,111,35.0,12.25,31,9,8,63
63322,0,1,0,58,40.0,14.00,40,9,8,26
63323,0,1,0,2,18.0,6.30,57,9,8,79
63324,0,1,0,3,18.0,6.30,63,9,8,145
63325,0,1,0,22,26.0,9.10,35,9,8,53

In [76]:
df.isnull().sum()

Agency Type             0
Distribution Channel    0
Claim                   0
Duration                0
Net Sales               0
Commision (in value)    0
Age                     0
Agency_code             0
Product_number          0
Dest_code               0
dtype: int64

In [77]:
df.columns

Index(['Agency Type', 'Distribution Channel', 'Claim', 'Duration', 'Net Sales',
       'Commision (in value)', 'Age', 'Agency_code', 'Product_number',
       'Dest_code'],
      dtype='object')

In [78]:
import plotly.express as px
px.imshow(df.corr(method='pearson'),text_auto=True,template='plotly_dark')

In [79]:
x = pd.DataFrame()
y = pd.DataFrame()

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63326 entries, 0 to 63325
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Agency Type           63326 non-null  int64
 1   Distribution Channel  63326 non-null  int64
 2   Claim                 63326 non-null  int64
 3   Duration              63326 non-null  int64
 4   Net Sales             63326 non-null  float64
 5   Commision (in value)  63326 non-null  float64
 6   Age                   63326 non-null  int64
 7   Agency_code           63326 non-null  int64
 8   Product_number        63326 non-null  int64
 9   Dest_code             63326 non-null  int64
dtypes: float64(2), int64(8)
memory usage: 4.8 MB

In [33]:
y = df["Claim"]
df = df.drop(columns=["Claim"])
x = df

In [34]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,shuffle=True)

#####Training model

In [43]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
lr = LogisticRegression()
p = make_pipeline(StandardScaler(),lr)

In [46]:
p.fit(x_train,y_train)
p.score(x_test,y_test)

0.9864992894362862

In [47]:
import sklearn.metrics as met

In [49]:
y_pred = p.predict(x_test)

In [50]:
acc = met.mean_squared_error(y_pred,y_test)

####The error from actual output

In [51]:
print(acc)

0.01350071056371388

Accuracy

In [52]:
print((met.accuracy_score(y_pred,y_test))*100)

98.64992894362862

In [65]:
print(met.f1_score(y_pred,y_test,average='micro'))

0.9864992894362862

#####The model has a accuracy of 98% which is very high