In [319]:
import pandas as pd
import numpy as np
import plotly.express as px

In [320]:
df = pd.read_csv("/content/sample_data/archive (9).zip")
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [321]:
df.shape

(214, 10)

In [322]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [323]:
df.describe()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516522,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

In [324]:
df['Type'].unique()

array([1, 2, 3, 5, 6, 7])

In [325]:
from sklearn.preprocessing import LabelEncoder

In [326]:
lr=LabelEncoder()

In [327]:
for i in df.columns:
  print(i,df[i].isnull().sum())

RI 0
Na 0
Mg 0
Al 0
Si 0
K 0
Ca 0
Ba 0
Fe 0
Type 0

In [328]:
fig = px.imshow(df.corr(),template='plotly_dark')
fig.show()

In [329]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split

In [330]:
y = df['Type']
df.drop('Type',axis=1,inplace=True)
x=df

In [331]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [332]:
sc=StandardScaler()
v=x_train
u=x_test

In [333]:
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [334]:
pca=PCA(n_components=7)

In [335]:
x_train=pca.fit_transform(x_train)
x_test=pca.transform(x_test)

In [336]:
e = pca.explained_variance_ratio_
e

array([0.28260541, 0.23046944, 0.1475347 , 0.13452876, 0.10428926,
       0.0596216 , 0.03375565])

So around 50% of data is used in first 2 components
and 87% data used in first 5 principle components

In [337]:
from sklearn.svm import SVC

In [338]:
svm = SVC()

In [339]:
pca=PCA(n_components=5)

In [340]:
x_train=v
x_test=u
x_train=pca.fit_transform(x_train)
x_test=pca.transform(x_test)

In [341]:
svm.fit(x_train,y_train)

SVC()

In [342]:
y_pred=svm.predict(x_test)

In [343]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred,y_test))

0.6046511627906976

Expected bad accuracy due to data being inaccurate